#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  margin: 0;
  background-color: #5483B3;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 8px #021024;
  min-height: 100vh;
  background-color: #7DA0CA;
}
